html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: URL("../images/cuttingboard.jpg") no-repeat 0px 30px;
  background-size: 100%;
  background-attachment: fixed;
}


body:not(.admin) > [class^="container"] {
  padding: 60px 15px 0;
}


body.admin {
  padding: 30px 15px 0;
}

.sidebar {
  font-size: .875rem;
}


a {
  color: #00B7FF;
}


.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;;
}


/*
 * Wheel Image
 */
 #wheel {
   width: 100%;
   max-width: 400px;
 }


/*
 * Sidebar
 */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}



.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 1rem 1rem;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}



/*
 * Forms
 */

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*
 * Cards
 */
 .card-text {
   font-size: 0.85rem;
 }


/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}


/*
 * Images
 */
  .img-slate {
    padding: 0;
  }

 .jumbotron .img-fluid {
   width: 100%;
   max-height: 350px;
   object-fit: cover;
 }


/*
 *
 */

h1{
  text-shadow: 2px 2px 2px rgba(22, 22, 22, .4);
}