html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* body:not(.admin) {
  background: URL("../images/cuttingboard.min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
} */

.bg-cover {
  background: URL("../images/cuttingboard.min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-cover-faded:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-filter: saturate(.6) brightness(120%) blur(3px);
  -webkit-filter: saturate(.6) brightness(120%) blur(3px);
  -moz-filter: saturate(.6) brightness(120%) blur(3px);
  filter: saturate(.6) brightness(120%) blur(3px);
  z-index: -100;
}

body:not(.admin) > [class^="container"] {
  padding: 60px 15px 0;
}



a {
  color: #00B7FF;
}


.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;;
}



/*
 * Admin
 */

body.admin {
  padding: 30px 0;
}

.admin>[class^="container"] {
  padding: 0 5vw;
}


.admin table {
  font-size: .875rem;
}

@media (min-width: 1200px) {
  .admin table {
    font-size: 1rem;
  }
}


/*
 * Sidebar
 */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: .875rem;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 1rem 1rem;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}



/*
 * Forms
 */

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*
 * Cards
 */

 .card-body {
   padding: 2rem;
   padding-bottom: 2.5rem;
 }

 .card-text {
   font-size: 0.85rem;
 }

 .card-rounded-top {
   border-radius: 2px 2px 0 0;
   overflow: hidden;
 }

 .card-thumbs {
   position: absolute;
   bottom: 0.5rem;
   right: 0.5rem;
 }

 .card-thumbs i {
   color: #ddd;
   margin: 0.25rem;
   cursor: pointer;
 }

 .card-thumbs i.selected {
   color: #007bff;
 }

 .card-single .card-thumbs {
   font-size: 1.25rem;
    bottom: auto;
    right: 1.5rem;
 }

 .bg-cover-faded .card {
   box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
 }

 .bg-cover-faded .card:hover {
   box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.1);
 }
 


/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.no-border {
  border: none;
}



/*
 * Images
 */
  .img-slate {
    padding: 0;
  }

 .jumbotron .img-fluid {
   width: 100%;
   max-height: 350px;
   object-fit: cover;
 }

 #wheelImg {
   width: 50vw;
   min-width: 200px;
   max-width: 400px;
 }

 

/*
 * Typography
 */

h1{
  text-shadow: 2px 2px 2px rgba(22, 22, 22, .4);
}

p.keep-spacing {
  white-space: pre-wrap;
}
