<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

  <body>
    <% include partials/navbar %>

     <!-- Main Container -->
    <div class="main">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">

        	<form class="" action="/" method="POST">
				<fieldset>
					<legend><%= page %></legend>
					<div class="form-group row">
						<label for="email">Email: </label>
						<input id="email" type="email" name="email">
					</div>
					<div class="form-group row">
						<label for="pwrd">Password: </label>
						<input id="pwrd" type="password" name="pwrd">
					</div>
					<div class="form-group row">
						<input id="login" type="submit" name="login" value="Login">
					</div>
				</fieldset>
			</form>

          </div>
        </div>
      </div>
    </div>


    <% include partials/footer %>
    <% include partials/script %>
  </body>
</html>