<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

  <body>
    <% include partials/navbar %>



     <!-- Main Container -->
    <div class="main">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">

           <form action="/" method="POST">
				<fieldset>
					<legend><h1><%= page %></h1></legend>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="name">User Name: </label>
						<input class="col-sm-8" id="name" type="text" name="name" required>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" or="email">Email:   </label>
						<input class="col-sm-8" id="email" type="email" name="email">
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="pwrd">Password: </label>
						<input class="col-sm-8" id="pwrd" type="password" name="pwrd">
					</div>
					<div class="form-group row">
						<input class="col-sm-2" id="addUser" type="submit" name="addUser">
					</div>
				</fieldset>
			</form>

          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>
    <% include partials/script %>
  </body>
</html>