<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

  <body>
    <% include partials/navbar %>


    <div class="container-fluid text-center">
        <h1 class="display-4"><%= page %></h1>
    </div>

	<!-- Main Container -->
    <div class="main">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
          		<form>
          			<input type="text" name="changeUserName">
          			<button>Change UserName</button>
          			<br>
          			<input type="text" name="changeEmail">
          			<button>Change Email</button>
          			<br>
          			<input type="text" name="changePwd">
          			<button>Change Password</button>
          			<br>
          			<button>View Liked Recipes</button>
          			<br>
          			<button>View Disliked Recipes</button>
          		</form>

          </div>
        </div>
      </div>
    </div>


    <% include partials/footer %>
    <% include partials/script %>
  </body>
</html>