<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

  <body>
    <% include partials/navbar %>

    <div class="container-fluid text-center">
        <h1 class="display-4"><%= page %></h1>
    </div>

    <% include partials/footer %>
    <% include partials/script %>
  </body>
</html>