<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky pt-5">

    <ul class="nav flex-column">
      <li class="nav-item border-top">
        <a class="nav-link" id="nav-cuisines" href="/cuisines">Cuisines</a>
      </li>
      
      <li class="nav-item border-top">
        <a class="nav-link" id="nav-diets" href="/diets">Diets</a>
      </li>
      
      <li class="nav-item border-top">
        <a class="nav-link" id="nav-foodGroups" href="/food-groups">Food Groups</a>
      </li>

      <li class="nav-item border-top">
        <a class="nav-link" id="nav-ingredients" href="/ingredients">Ingredients</a>
      </li>

      <li class="nav-item border-top">
        <a class="nav-link" id="nav-recipes" href="/recipes">Recipes</a>
      </li>

      <li class="nav-item border-top">
        <a class="nav-link" id="nav-recipeCategories" href="/recipe-categories">Recipe Categories</a>
      </li>

      <li class="nav-item border-top">
        <a class="nav-link" id="nav-recipeSignificanceTypes" href="/recipe-significance-types">Recipe Significance</a>
      </li>

      <li class="nav-item border-top border-bottom">
        <a class="nav-link" id="nav-unitsOfMeasure" href="/units-of-measure">Units of Measure</a>
      </li>
    </ul>
  </div>
</nav>