<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	
	<body class="text-center bg-cover bg-cover-faded">
		<% include partials/navbar %>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
					<h1 class="display-4"><%= page %></h1>

					<form action="/login" method="POST">
						<fieldset>
							<div class="form-group">
								<label for="email" class="sr-only">Email address</label>
								<input type="email" name="user_email" class="form-control mb-2" placeholder="Email address" required autofocus>
								<label for="password" class="sr-only">Password</label>
								<input type="password" name="user_password" class="form-control" placeholder="Password" required>
							</div>

							<div class="form-group">
								<button class="btn btn-lg btn-primary btn-block" id="login" type="submit">Sign in</button>
							</div>

							<div class="form-group">
								<a href="/newUser" class="text-white">Create an account</a>
							</div>
						</fieldset>
					</form>


					<% if (locals.feedback) { %> 
						<div class="alert alert-danger mt-5"><%= feedback %></div>
					<% } %>

				</div>
			</div>
		</div>
	

		<% include partials/footer %>
		<% include partials/script %>
		<script src="/javascripts/login.js"></script>

		<script>
			$('.nav-login').addClass('active');
		</script>
	</body>
</html>