<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

    <body class="bg-cover bg-cover-faded">
      <% include partials/navbar %>

        <div class="container align-items-center mb-5">

          <% include partials/recipeCard %>
        </div>


        <% include partials/footer %>
        <% include partials/script %>
    </body>
</html>